.weeksForecast{
    overflow-y: scroll;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(35, 28, 28, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    text-align: center;
}
.title{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 0.01em;
    color: #e26584;
    margin-bottom: 28px;
}

.dayTitle{
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #043058;
}
.dayTitle:first-letter{
    text-transform: uppercase;
}

